<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<title>Редактировать информацию о библиотечной записи</title>
<header th:replace="index :: head"></header>
<body>
<div class="container-fluid p-5 bg-gradient bg-secondary" style="min-height: 100vh; overflow: auto; --bs-bg-opacity: .5;">
    <blockquote class="blockquote text-center">
    <blockquote class="blockquote text-center"><h1>Редактирование студента факультета ИТиАБД</h1></blockquote>
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <form action="#" th:action="@{/save}" th:object="${book}" method="post">
                <table>
                    <tr>
                        <td>ID книги:</td>
                        <td><input type="text" th:field="*{id}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Название:</td>
                        <td><input type="text" th:field="*{title}"></td>
                    </tr>
                    <tr>
                        <td>Издательство:</td>
                        <td><input type="text" th:field="*{publisher}"></td>
                    </tr>
                    <tr>
                        <td>Дата выдачи:</td>
                        <td><input type="text" th:field="*{issueDate}"></td>
                    </tr>
                    <tr>
                        <td>Дата возврата:</td>
                        <td><input type="text" th:field="*{returnDate}"></td>
                    </tr>
                    <tr>
                        <td>Студент:</td>
                        <td><input type="text" th:field="*{student}"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Отправить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>