<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<title>Редактировать информацию о студенте</title>
<header th:replace="index :: head"></header>
<body>
<div class="bg-image"
     style="background-image: url('https://palchevsky.ru/images/background.jpg'); height: 100vh; overflow: auto">
    <blockquote class="blockquote text-center"><h1>Редактирование студента факультета ИТиАБД</h1></blockquote>
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <form action="#" th:action="@{/save}" th:object="${student}" method="post">
                <table>
                    <tr>
                        <td>ID студента:</td>
                        <td><input type="text" th:field="*{id}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Имя:</td>
                        <td><input type="text" th:field="*{first}"></td>
                    </tr>
                    <tr>
                        <td>Фамилия:</td>
                        <td><input type="text" th:field="*{last}"></td>
                    </tr>
                    <tr>
                        <td>Номер студенческого:</td>
                        <td><input type="text" th:field="*{num}"></td>
                    </tr>
                    <tr>
                        <td>Средний балл:</td>
                        <td><input type="text" onkeyup="this.value = this.value.replace(/\.(?=.*\.)|[^\d\.-]/g, '');"
                                   onchange="this.value = this.value.replace(/\.(?=.*\.)|[^\d\.-]/g, '');"
                                   th:field="*{av}"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Отправить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>